@media screen and (min-width: 992px){

    .header{
        position: relative;
        width: calc(100% - 60px);
        margin: 0 auto;
    }
    .logo{
        width: 40%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo img{
        width:100%;
    }
    .search_from{
        position: absolute;
        width: 30%;
        height: 100%;
        right: 0px;
        top: 0px;
        display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
        display: -moz-box; /* Firefox 17- */  
        display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
        display: -moz-flex; /* Firefox 18+ */  
        display: -ms-flexbox; /* IE 10 */  
        display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */  
    }
    .search_btn{
        border: none;
        background: #bb231c;
        height: 36%;
        border-top-right-radius:999999px;
        border-bottom-right-radius:999999px;
        color: white;
        font-size: 16px;
        margin-top: 20px;
    }
    .search_input{
        margin-top: 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1; 
        height: 36%;
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
        border: 1px solid #e8e8e8;
        border-right: none;
        text-indent: 10px;
        font-size: 16px;
        
    }
    .search_btn span{
        display: block;
        padding:0px 20px 0px 20px;
    }
    .right_abso{
        position: fixed;
        height: calc(100% - 60px);
        background: rgba(0, 0, 0, 0.6);
        right: -100%;
        top: 0px;
        z-index: 9999;
    }
    #menubtn{
        position: fixed;
        right: 20px;
        top: 80px;
        z-index: 999;
        background: url("../images/shoujinav.png");
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .right_abso ul{
        padding-top:30px;
    }
    .right_abso ul li{
        position: relative;
        cursor: pointer;
        margin-top: 30px;
    }
    .abso_img{
        padding: 0px 4px 0px 4px;
        text-align: center;
    }
    .abso_img img{
        margin: 0 auto;
    }
    .abso_tit{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 12px;
        padding: 5px 4px 0px 4px;
    }
    .bottom_abso{
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        height: 60px;
        bottom: 0px;
        left: 0px;
        line-height: 60px;
        z-index: 999;
    }
    .bottom_abso p{
        color: white;
        font-size: 14px;
        margin-left: 20px
    }
    .bottom_abso_msg{
        float: left;
        color: white;
        font-size: 14px;
        margin-left: 30px
    }
    .bottom_abso_ico{
        float: right;
    }
    .dzjg{
        float: right;
        margin-right: 10px;
    }
    .zfjg{
        float: right;
        margin-right: 30px
    }
    .gaba{
        float: right;
        margin-right: 30px;
        position: relative
    }
    .gaba img{
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: -30px;
    }
    .gaba a{
        float: left;
        color: white
    }
}
@media screen and (max-width: 992px) {

    /* 手机端CSS代码 */
    .content {
        width: 100%;
        max-width: 1500px;
        background: red;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {

    /* 电脑端CSS代码 */
    .content {
        width: calc(100% - 100px);
        max-width: 1500px;
        margin: 0 auto;
    }
}

.banner,
.banner img {
    width: 100%;
}

.content_m {
    width: 100%;
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

.content_nav {
    width: 200px;
    background: #144f9cf5;
}

.content_right {
    flex: 1;
    background: white
}

.content_nav_ul {
    width: 100%;
    margin-top: 5px;
    height: auto;
}

.content_nav ul li {
    float: left;
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-bottom: 1px solid #2c5c98;
}

.content_nav ul li:hover {
    background: #103c75f5;
}

.content_nav_ico,
.content_nav_tit {
    float: left;
    font-size: 16px;
    color: white;
    line-height: 70px;
    padding-left: 35px;
}

.content_nav_ico {
    padding-left: 25px;
}

.content_nav_ico,
.content_nav_ico img {
    width: 45px;
}

.content_nav_active {
    background: #103c75f5;
}

.shaoma {
    width: 100%;
    position: relative;
    padding-top: 4px;
}

.ewm {
    width: 93px;
    height: 93px;
    margin: 3px 53px 13px 53px;
}

.ewm img {
    width: 93px;
    height: 93px;
}
.shaoma_l{
    position: absolute;
    font-size: 12px;
    color: white;
    width: 12px;
    left: 30px;
    line-height: 16px;
    top: 50%;
    margin-top: -35px;
}
.shaoma_r{
    position: absolute;
    font-size: 12px;
    color: white;
    width: 12px;
    right: 30px;
    line-height: 20px;
    top: 50%;
    margin-top: -35px;
}
.bottom_mobile{
    margin-top: 30px;
    background: rgb(231, 231, 231);
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    font-size: 12px;
    color:rgb(119, 116, 116);
}

.bottom_mobile span{
    display: block
}
/* 手机顶部 */
#mobile_header{
    width: 100%;
    margin: 0 auto;
    height:40px;
    position: fixed;
    background: white;
    z-index: 9999;
    border-bottom: 1px solid rgb(202, 201, 202);
}
.m_menubtn{
    float: left;
    margin: 10px;
    width: 20px;
    height: 20px;
    background: url("../images/shoujinav.png");
    background-size: 100% 100%;
}
.m_fom{
    float: right;
    margin: 7px 10px 0px 7px;
}
#text{
    height: 25px;
    float: right;
    width:60%;
}
#sousuobtn{
    float:right;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px 0px 10px;
    background: #bb231c;
    color: white;
    font-size: 12px;
}
#mobile_nav_box{
    position: fixed;
    top: 40px;
    width: 100px;
    background: rgba(0, 0, 0, 0.64);
    left: -100%;
    height: calc(100% - 40px);
    z-index: 9999;
}
.m_content_nav_ul{
    width: 100%;
    height: 100%;
}
.m_content_nav_ul li{
    width: 100%;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(112, 112, 112);
}
.m_content_nav_ico {
    float: left;
    margin: 10px 5px 10px 10px;
}
.m_content_nav_ico img{
    float: left;
    width: 20px;
}
.m_content_nav_tit{
    float: left;
    color: whitesmoke;
    font-size: 12px;
}
#m_left_nav{
    background: rgba(167, 4, 4, 0.678);
}