.content { width: 1191px; margin: 0 auto; background: white;}
.index_ { width: 1191px; margin: 0 auto; background: white;}
.index_1 { width: 1155px; height: 332px; margin: 0 auto; padding-top: 25px;}
.index_banner { position: relative; float: left; width: 540px; height: 100%;}
.index_banner_tab { position: absolute; width: 100%; height: 37px; background: url("../images/index_banner_tab_03.png"); bottom: 0px; left: 0px; z-index: 1;}
.banner_img { position: relative; width: 100%; height: 100%;}
.banner_img img { position: absolute; width: 100%; height: 100%;}
.index_banner_dian { position: absolute; z-index: 2; width: 300px; height: 15px; bottom: 10px; right: 10px;}
.index_banner_dian ul { width: 100%; height: 100%;}
.index_banner_dian ul li { float: right; width: 15px; height: 15px; margin-left: 8px; background: 
#929495; border-radius: 50%; cursor: pointer;}
.index_banner_tab a { line-height: 37px; color: white; font-size: 14px; margin-left: 14px;}
.index_banner_tab a:hover { text-decoration: underline;}
.index_1_r { float: right; width: 600px; height: 100%;}
.index_1_r_tab { position: relative; width: 100%; height: 40px; border-bottom: 3px solid 
#157cce;}
.index_1_r_tab a { float: right; line-height: 40px; color: 
#7f7f7f; font-size: 12px; margin-right: 3px;}
.index_1_r_tab_btn { position: relative; float: left; width: 120px; height: 100%; text-align: center; line-height: 40px; font-size: 16px; cursor: pointer; color: 
#191919;}
#index_1_r_tab_btn_active { width: 100%; height: 3px; background: 
#ff9000; bottom: 0px; border-left: 2px solid white; border-right: 2px solid white;}
.index_1_r_content { position: relative; width: 100%; height: 300px;}
.index_1_r_content ul,.index_2_l_content ul { position: absolute; width: 100%; height: 100%; overflow: hidden;}
.index_1_r_content ul li,.index_2_l_content ul li { width: 100%; height: 36px; line-height: 36px; font-size: 14px; color: 
#4d4d4d; text-align: left;}
.index_1_r_content ul li img,.index_2_l_content ul li img { float: left; margin: 15px 10px 0px 10px;}
.index_1_r_content ul li a,.index_2_l_content ul li a { display: block; float: left;}
.index_1_r_content ul li span,.index_2_l_content ul li span { display: block; float: right; color: 
#999999; font-size: 12px;}
.index_2 { width: 1155px; height: 320px; margin: 0 auto; padding-top: 20px;}
.index_2_l { float: left; width: 843px; height: 100%;}
.index_2_l_tit { width: 100%; height: 45px; line-height: 45px; font-size: 16px; color: 
#191919; border-bottom: 1px solid 
#c0c0c0;}
.index_2_l_tit a { float: right; line-height: 60px; color: 
#7f7f7f; font-size: 12px; margin-right: 3px;}
.index_2_l_tit ul { float: left; height: 100%;}
.index_2_l_tit ul li { position: relative; float: left; width: 110px; height: 100%; line-height: 45px; margin-right: 10px; margin-left: 4px; color: 
#191919; font-size: 15px; text-align: center; cursor: pointer;}
#index_2_l_tit_tab { position: absolute; top: -2px; left: 0px; width: 100%; height: 100%; text-align: center; background: white; border-top: 3px solid 
#ff9000; border-left: 1px solid 
#c0c0c0; border-right: 1px solid 
#c0c0c0; font-size: 17px; color: 
#0e76cd; font-weight: bold;}
.index_2_l_content { position: relative; width: 100%; height: 265px; overflow: hidden;}
.index_2_r { float: right; width: 290px; height: 100%;}
.index_ty_tit { width: 100%; height: 42px; line-height: 42px; border-bottom: 3px solid 
#157cce; font-size: 16px; font-weight: 700; color: 
#157cce;}
.index_ty_tit a { float: right; color: 
#7f7f7f; font-size: 12px; font-weight: 100;}
.index_2_r_content { padding-top: 10px;}
.index_2_r_content a { display: block; padding-bottom: 3px;}
.index_2_r_content img { width: 290px; height: 80px;}
.index_3 { position: relative; width: 1160px; height: 110px; margin: 0 auto; margin-top: 8px;}
.index_3_banner_img { position: relative;}
.index_3_banner_img img { position: absolute; top: 0px; left: 0px; width: 1160px; height: 110px;}
.index_3_banner_yd { position: absolute; width: 400px; height: 15px; z-index: 3; right: 10px; bottom: 7px;}
.index_3_banner_yd ul { width: 100%; height: 100%;}
.index_3_banner_yd ul li { width: 15px; height: 15px; float: right; margin-left: 7px; border-radius: 50%; background: 
#f6a494; cursor: pointer;}
.index_4 { width: 1160px; height: 381px; margin: 0 auto; margin-top: 30px;}
.index_4_l { float: left; width: 843px; height: 380px;}
.index_4_l_tit { position: relative; background: 
#f1f1f1; width: 100%; height: 16px; margin-top: 10px;}
.index_4_l_tit_box { background: white; width: 150px; height: 36px; position: absolute; background: white; font-size: 18px; font-weight: 700; color: 
#157cce; top: -10px; line-height: 36px;}
.index_4_l_tit_box_ico { float: left; background: url("../images/index_bsdt_ico_03.png") no-repeat; width: 29px; height: 31px; margin-top: 3px;}
.index_4_l_tit_box_msg { float: left; margin-left: 7px;}
.index_4_l_l { float: left; width: 410px; height: 324px; margin-top: 20px;}
.index_ty_bt2 { width: 100%; height: 39px;}
.index_ty_bt2 a { float: right; line-height: 40px; color: 
#7f7f7f; font-size: 12px; margin-right: 5px;}
.index_ty_bt2_tit { position: relative; float: left; height: 31px; background: 
#1870cd; color: white; font-size: 16px; line-height: 31px; text-align: center; padding-left: 10px; padding-right: 10px;}
.index_ty_bt2_tit img { position: absolute; top: 100%; left: 50%; margin-left: -6px;}
.index_4_l_l_content { width: 415px; height: 274px; margin-left: -5px; margin-top: 10px;}
.index_4_l_l_content_box { position: relative; float: left; margin: 5px; width: 197.5px; height: 127px; cursor: pointer; text-align: center;}
.index_4_l_l_content_box img { margin-top: 15px;}
.index_4_l_l_content_box_msg { position: absolute; width: 100%; color: white; font-size: 16px; top: 90px;}
#indexbszn { background: 
#4a85d5;}
#indexzlxz { background: 
#718ad9;}
#indexwsxz { background: 
#888cb8;}
#indexzxjc { background: 
#61afdd;}
#indexbszn:hover { background: 
#4072b9;}
#indexzlxz:hover { background: 
#6074b8;}
#indexwsxz:hover { background: 
#7679a0;}
#indexzxjc:hover { background: 
#5398c0;}
.index_4_l_r { float: right; width: 390px; height: 324px; margin-top: 20px;}
.index_4_l_r ul { width: 100%; height: 270px; margin-top: 10px;}
.index_4_l_r ul li { width: 100%; height: 33px; line-height: 33px;}
.index_4_l_r ul li img { float: left; margin-top: 14px;}
.index_4_l_r ul li a { display: block; width: 320px; float: left; font-size: 14px; color: 
#656565; margin-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.index_4_l_r ul li a:hover { text-decoration: underline;}
.index_4_r { width: 292px; height: 379px; float: right;}
.index_4_r_content { width: 295px; height: 342px; margin-top: 8px; margin-left: -1px;}
.index_4_r_content_box1 { float: left; width: 290px; height: 80px; margin: 2px; cursor: pointer;}
.index_4_r_content_box2 { float: left; width: 143px; height: 80px; margin: 2px; cursor: pointer; text-align: center;}
#index_ppfw1 { background: 
#4088e9;}
#index_ppfw2 { background: 
#69b644;}
#index_ppfw3 { background: 
#eca359;}
#index_ppfw4 { background: 
#83a8ea;}
#index_ppfw5 { background: 
#22b9bf;}
#index_ppfw6 { background: 
#f78686;}
.index_4_r_content_box1 img { float: left; margin: 23px 10px 0 35px;}
.index_4_r_content_box1_msg { float: left; font-size: 14px; color: white; line-height: 80px;}
.index_4_r_content_box2 img { margin: 0 auto; margin-top: 9px;}
.index_4_r_content_box2_msg { font-size: 14px; color: white; margin-top: 1px;}
#index_ppfw1:hover { background: 
#397cd3;}
#index_ppfw2:hover { background: 
#589b39;}
#index_ppfw3:hover { background: 
#d1904f;}
#index_ppfw4:hover { background: 
#779bd8;}
#index_ppfw5:hover { background: 
#1b989c;}
#index_ppfw6:hover { background: 
#df7878;}
.index_5 { width: 1160px; height: 381px; margin: 0 auto; margin-top: 30px;}
.index_5_l { float: left; width: 843px; height: 380px;}
.index_4_l_tit_box_ico2 { float: left; background: url("../images/index_hdpt_ico_03.png") no-repeat; width: 31px; height: 31px; margin-top: 5px;}
.index_5_l_tit { width: 100%; height: 42px; padding-top: 30px;}
.index_5_l_btn { float: right; margin-right: 1px; width: 87px; height: 30px; font-size: 12px; color: black; text-align: center; line-height: 30px; border: 1px solid 
#eaeaea; cursor: pointer;}
.index_5_l_btn:hover { color: white; background: 
#9e9e9e;}
.index_5_l_btn2 { float: right; margin-right: 10px; width: 87px; height: 30px; font-size: 12px; color: black; text-align: center; line-height: 30px; border: 1px solid 
#eaeaea; cursor: pointer;}
.index_5_l_btn2:hover { color: white; background: 
#9e9e9e;}
.index_5_l ul { width: 100%; height: 222px; margin-top: 10px;}
.index_5_l ul li { width: 100%; height: 37px; line-height: 37px; font-size: 14px; margin-top: 5px; cursor: pointer;}
.index_5_l ul li a { float: left; color: 
#4c4c4c; margin-left: 10px;}
.index_5_l ul li img { float: left; margin-top: 16px; margin-left: 10px;}
.index_5_l ul li span { float: right; color: 
#7f7f7f;}
.index_5_l_li1 { background: 
#f8f8f8 !important;}
.index_5_l_li1 span { color: 
#9e9b9b !important;}
.index_5_l ul li:hover { background: 
#eeeeee !important;}
.index_5_r { width: 292px; height: 100%; float: right;}
.index_5_r table { width: 100%; height: 298px; border: 1px solid 
#eaeaea; margin-top: 10px;}
.index_5_r table td { border: 1px solid 
#eaeaea;}
.index_5_r_td1 { text-align: right; text-indent: 10px; padding-right: 10px; width: 120px; font-size: 13px; color: 
#8d8d8d;}
.index_5_r_td2 { text-indent: 10px; text-align: left; font-size: 13px; color: 
#0e76cd;}
.index_6 { width: 1160px; height: 233px; margin: 0 auto;}
.index_6_tit { width: 1160px; height: 40px; margin: 0 auto;}
.index_4_l_tit_box_ico3 { float: left; background: url("../images/index_tjfc_ico_07.png") no-repeat; width: 33px; height: 31px; margin-top: 5px;}
.index_6_tit a { display: block; float: right; color: 
#7f7f7f; font-size: 12px; margin-right: 5px;}
.index_6_content { position: relative; width: 100%; height: 181px; margin-top: 30px;}
.index_7_l_tit_box { background: white; width: 100px; height: 36px; position: absolute; background: white; font-size: 18px; font-weight: 700; color: 
#157cce; top: -10px; line-height: 36px;}
.index_7 { width: 1160px; height: 150px; margin: 0 auto; margin-top: 30px;}
.index_7_content { width: 1190px; height: 95px; margin-top: 30px;}
.index_7_content_box { float: left; margin: 0px 5px 0px 5px; background: 
#0077cb; text-align: center; line-height: 95px; width: 281px; height: 95px; font-size: 16px; font-weight: bold; cursor: pointer; color: white;}
.index_7_content_box:hover { background: 
#3392d5; color: 
#ebf2fa;}
.focus-img { position: relative; width: 1160px; height: 180px; background-color: 
#333;}
.focus-img-con { position: relative; width: 800px; height: 180px; margin: 0 auto; background-color: 
#fff; overflow: hidden;}
.focus-img-con ul { position: absolute; top: 0;}
.focus-img-con ul li { color: 
#fff; text-align: center; padding-right: 10px; height: 180px; float: left;}
.focus-img-con_div { position: relative; width: 285px; height: 180px; cursor: pointer;}
.focus-img-con_box_msg { position: absolute; bottom: 0px; height: 48px; line-height: 48px; width: 100%; background: 
#0076cbbd; display: none;}
.focus-img-con_div:hover>.focus-img-con_box_msg { display: block;}
.focus-img-con_box_msg a { float: left; font-size: 13px; color: white; margin-left: 10px; text-align: left; margin-left: 0px; margin-right: 0px; text-indent: 10px;}
.focus-img-con ul li div img { width: 100%; height: 100%;}
.focus-img .change-bnt { display: block; width: 40px; height: 40px !important; position: absolute; top: 50%; margin-top: -25px; z-index: 4;}
.focus-img .change-bnt.prev-bnt { left: 0px; background: url("../images/index_lbt_l_07.png");}
.focus-img .change-bnt.next-bnt { left: 100%; margin-left: -40px; background: url("../images/index_lbt_3_09.png");}