
      .content_nav ul li {
          position: relative;
          float: left;
          width: 100%;
          height: 0.8rem;
          min-height: 70px;
          cursor: pointer;
          border-bottom: 1px solid #2c5c98;
      }

@media screen and (max-width: 992px){
    #content_r_banner{
        position: relative;
        width: 100%;
    }
    .scroll{margin:0 auto;  width:100%;padding-bottom: 60%; position:relative; overflow:hidden;float: left; }
    .scroll ul{list-style-type:none; padding:0; margin:0; position:absolute; top:0;left:0; width:99999px; height:100%; }
    .scroll li{float:left; height: 100%;}
    .scroll li img{float:left; width:100%; }
    .prev{position:absolute; left:-2px; top:50%;margin-top: -30px; background: url("../images/arrow-prev.png"); background-size: 100% 100%;width: 40px;height: 60px;}
    .next{position:absolute; right:-2px; top:50%;margin-top: -30px; background: url("../images/arrow-next.png"); background-size: 100% 100%;width: 40px;height: 60px;}
    .dwjj_box{
        clear: both;
        height: 100%;
        width: calc(100% - 20px);
        margin:0 auto;
        padding-top: 10px;
    }
    .dwjj{
        position: relative;
        width: 100%;
        height: 38px;
        border-bottom: 2px solid #d5d5d5;
    }
    .dwjj span{
        display: block;
        position: absolute;
        font-size: 20px;
        line-height: 30px;
        border-bottom: 3px solid #bb231c;
        top: 4px;
    }
    .dwjj a{
        display: block;
        position: absolute;
        right: 10px;
        font-size: 15px;
        line-height: 38px;
        height: 38px;
        top: 0px;
        color:rgb(117, 117, 117);
    }

    .dwjj_msg{
        width: 100%;
        display: block;
    }
    .dwjj_msg p{
        font-size: 14px;
        text-indent: 28px;
        margin-top: 5px;
        line-height: 1.7;
    }
    .dwjj_menu_box{
        padding: 0px 5px 0px 5px;
        margin-top: 10px;
        background: #f2f2f2;
        text-align: center;
        font-size: 14px;
        color: rgb(51, 51, 50);
        line-height: 40px;
    }
    .last_xwlist{
        width: calc(100% - 20px);
        margin: 0 auto;
        margin-top: 10px;
    }
    .xw_list{
        width: 100%;
        margin-top: 10px;
        height: 230px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .xw_lists_ul li{
        width: 100%;
        list-style: disc;
        height: 30px;
        color: #474747;
    }
    .last_lm2{
        display: none;
    }
}
@media screen and (min-width: 992px){
    #content_r_banner{
        position: relative;
        width: 100%;
        height: 301px;
    }
    
    .scroll{margin:0 auto;  width:623px;height: 100%; position:relative; overflow:hidden;float: left;margin-left: 20px;
        margin-top: 15px;}
    .scroll ul{list-style-type:none; padding:0; margin:0; position:absolute; top:0;left:0; width:99999px; height:100%; }
    .scroll li{float:left; height: 100%;}
    .scroll li img{float:left; width:623px; height: 301px;}
    .prev{position:absolute; left:-2px; top:50%;margin-top: -30px; background: url("../images/arrow-prev.png"); background-size: 100% 100%;width: 40px;height: 60px;}
    .next{position:absolute; right:-2px; top:50%;margin-top: -30px; background: url("../images/arrow-next.png"); background-size: 100% 100%;width: 40px;height: 60px;}
    
    

#dwjja{
    height: 100%;
}
.dwjj_box{
    float: left;
    height: calc(100% + 30px);
    width: calc(100% - 673px);
    margin-left: 15px;
    margin-top: 15px;
}

.dwjj{
    position: relative;
    width: 100%;
    height: 38px;
    border-bottom: 2px solid #d5d5d5;
}
.dwjj span{
    display: block;
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 3px solid #bb231c;
    top: 4px;
}
.dwjj a{
    display: block;
    position: absolute;
    right: 10px;
    font-size: 15px;
    line-height: 38px;
    height: 38px;
    top: 0px;
    color:rgb(117, 117, 117);
}
.dwjj_msg{
    width: 100%;
    height: calc(100% - 88px);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dwjj_msg p{
    font-size: 14px;
    text-indent: 28px;
    margin-top: 5px;
    line-height: 1.7;
}

.dwjj_menu{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
}
.dwjj_menu_box{
    flex: 1;
    margin: 0px 2px 0px 2px;
    height: 40px;
    background: #f2f2f2;
    text-align: center;
    font-size: 14px;
    color: rgb(51, 51, 50);
    line-height: 40px;
}

@media screen and (min-width:991px) and (max-width:1500px){
    .dwjj_msg{
        width: 100%;
        height: calc(100% - 138px);
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  
    .last_lm{
        display: none;
    }
}
@media screen and (min-width:1501px){
    .last_lm2{
        display: none;
    }
}
        .last_xwlist{
            width: calc(100% - 40px);
            margin: 0 auto;
            margin-top: 10px;

            display: -webkit-box;
            /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
            display: -moz-box;
            /* Firefox 17- */
            display: -webkit-flex;
            /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
            display: -moz-flex;
            /* Firefox 18+ */
            display: -ms-flexbox;
            /* IE 10 */
            display: flex;
            height: calc(100% - 363px);
        }
        .xw_list{
            flex: 1;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .xw_img{
            height: 100%;
        }
        .xw_img img {
            width: 100%;
            height: 100%;
        }

        .xw_lists_ul li{
            width: 100%;
            list-style: disc;
            height: 14.67%;
            color: #474747;
        }
}
.xw_list_header{
    width: 100%;
    height: 40px;
    background: #eeeeee;
    line-height: 40px;
    font-size: 14px;
}
.xw_list_tit{
    float: left;
    color: white;
    padding: 0px 10px 0px 10px;
    background: #1d64b4;
    
}
.xw_list_header a{
    font-size: 14px;
    float:right;
    margin-right: 10px;
    color: #919191;
}
.xw_lists_ul,.xw_lists_ul ul,.xw_lists_ul li{
    width: 100%;
}
.xw_lists_ul{
    height: calc(100% - 30px);
}
.xw_lists_ul ul{
    height: 100%;
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 10px;
    color: #474747;
}
.xw_lists_ul li a{
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 40px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
     font-size: 14px;
     color: #474747;
     
}
.xw_lists_ul li span{
    float:right;
    color: #919191;
}
.dangdejianshe{
    position: absolute;
    z-index: 400;
    bottom: -40px
}